<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shlifim</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'landingpage/style.css' %}">
</head>

<body>
    <h1>Shlifim Project - beyond 05 team 3</h1>
    <img src="https://user-images.githubusercontent.com/40122521/110316976-2990f880-8014-11eb-8ee8-96c21dd4b29f.png"
        alt="Shlifim">
    <p>The project will be forum web based application for helping students find answers<br> to their homework and
        assignments and also share summaries.</p>

    <p>
    <h2>Coming soon features : </h2>
    <ul>
        <li>Login / Register users system</li>
        <li>Posting a questions under specific topic</li>
        <li>Answering questions and adding option for up/down votes and
            reply</li>
        <li>Main feed showing the latest questions</li>
        <li>Add option to upload files</li>
    </ul>
    </p>

    <p>
    <h2>Team members :</h2>
    <ul>
        <li>Aviv Zafrani</li>
        <li>Danit Levi </li>
        <li>Ido Kahlon </li>
        <li>Rebecca Tubman</li>
        <li>Lior Noy</li>
    </ul>
    </p>

</body>

</html>
