{% extends "home/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'home/CSS/explore-page.css' %}">
<body class="main-bg">

<form method="GET" class="container">
<div class="m-3" >

    <div class="row my-4">
        <div class="col-2">
            <a href="{% url 'new_question' %}" class="btn shlifim-btn" role="button">Ask new question</a>
        </div>

    </div>

    {% if tag != None %}
    <div class="tags-msg p-3">
        <p><b>Showing all questions that include the tag: #{{ tag }}</b></p>
        <a href="{% url 'explore-page' %}"><small>Show me all questions</small></a>
    </div>

    {% endif %}

	{% for question in questions %}
	<div class=" question-display p-2 row m-0 border">
	    <img class="subject-img" src="{% get_static_prefix %}home\subjects-images\{{question.subject|lower}}.png">
            <div class="col-3">
                <a style="color:#6FB5EE" href="{% url 'question-detail' question.id %}"><b>{{ question.title }}</b></a>
            </div>
            <div class="col-3">
                <div class="row">
                    <span>{{ question.subject }}
					{% if question.sub_subject != None %}
					, {{ question.sub_subject }}
					{% endif %} </span>
                </div>
                <div class="row mt-2">
                        <div >
                            {% for tag in question.tag_set.all %}
                                <span class="badge badge-pill badge-secondary">#{{tag.tag_name}}</span>
                            {% endfor %}
                        </div>
                </div>
            </div>
            <div class=" col">
                <p>{{question.get_grade_display }} </p>
            </div>
            <div class="col">
                <span >
                    {{question.get_answers_num}} answers
                </span>
            </div>
            <div class="col">
                <p>by <b>{{ question.profile }}</b></p>
                <small class="text-muted date">{{ question.publish_date|date:"d F, Y" }}</small>
            </div>
	 </div>

    {% empty %}
            <div class=" row font-weight-bold text-center">
                <span>No questions were found</span>
            </div>
	{% endfor %}

    </div>
</div>
</form>

</body>
{% endblock content %}