{% extends "home/base.html" %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'home/CSS/display_question_style.css' %}">
<body class ="main-bg">
 <main role="main" class="container">
<div class="row">
<div class="col-md-12">
  <div class="question-container col-md-10">
	<div class="question-display">
	  <div class="question-title">
		<img class="rounded-circle question-img" 
		src="{% get_static_prefix %}home\subjects-images\{{question.subject|lower}}.png">
		<h3> {{ question.title }} </h3>
		{% if question.profile.user == user %}
		<form method="POST" action="{% url 'question-delete' question.pk %}" class="delete">
		{% csrf_token %}
		<input type="submit" class="delete right" value="Delete" onclick="return confirm('Are you sure?');">
		</form>
		{% endif %}
	  </div>
	  <div class="question-metadata">
		<small class="text-muted date">{{ question.publish_date|date:"F d, Y" }}</small>
		{% if question.is_edited %}
			<small class="text-muted date ml-3"><span>*edited*</span></small>
			{% endif %}
		<b>by <a href="{% url 'user-page' question.profile.pk  %}">{{ question.profile }}</a> </b>
	  </div>
		<div class="question-body">
		  <p class="question-content">{{ question.content | safe }}</p>
		</div>
		 <div class="pt-2">
				{% for tag in question.tag_set.all %}
				   <span class="badge badge-pill badge-secondary">
							 <a href="{% url 'explore-page' %}?tag={{ tag }}" class="nostyle">
							#{{tag.tag_name}}</a></span>
				{% endfor %}
          </div>
	</div>
 </div>
 <div class="col-md-8" id="answers">
	  <a class="ans-counter"><b>{{ answersCount }} Answer{{ answersCount|pluralize:",s" }} </b></a>
	<small class="ml-4"> Order answers by:<br></small>
	<form class="d-flex">
		<a href="{% url 'question-detail' question.pk  %}?sortanswersby=date&page#answers" class="ml-4 btn btn-primary">Publish Date</a>
		<a href="{% url 'question-detail' question.pk  %}?sortanswersby=votes&page#answers" name="q" class="ml-4 btn btn-primary" value="votes">Votes Count</a>	
	</form>
 </div>
 <!-- Answers Part -->
 {% include 'home/answers_display.html' %}
 </div>
 </div>  
 </main>
  </body>

<footer class="container">
	{% if request.user.is_authenticated %}
	<div class="add-comment">
	  <form method="POST" action="." class="commenting-form">
		{% csrf_token %}
		<div class="col-md-12">
		  <div id="comment-form">
			{{ form }}
			{{ form.media }}
		  </div>
		  <div >
			<button type="submit" class="btn btn-secondary">Submit Comment</button>
		  </div>
		</div>
	  </form>
	</div>
	{% else %}
	<a href="{% url 'login' %}?next={% firstof request.path '/' %}" id="not-authenticated" class="btn btn-primary">Login to comment</a>
	{% endif %}
  </div>
</footer>

{% endblock content %}
