[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"
black = "*"
coverage = "*"

[packages]
django = "*"
pytest = "*"
django-ckeditor = "*"
django-bleach = "*"
bleach = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
