body {
    font-family: Montserrat, sans-serif;
}

.navbar-light {
	background-color: #a9d4d9;
}

.main-bg {
	background-color: #d9b6a3;
}

.landing-bg {
	background-color: #f2dccb;
}

.nav-item {
	color: #000000;
	padding-top: 20px;
	font-weight: bold;
	font-size: 17px;
}

.shlifim-btn{
	background-color:#A9D4D9;
	color: black;
 	padding: 10px 20px;
	text-align: center;
	font-size: 20px;
	border: none;
	text-decoration: none;
	border-radius: 12px;
}

.shlifim-btn:hover {
	text-decoration: none;
}

.navbar-nav > li {
	padding-left:5px;
	padding-right:5px;
}


a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}