.disabled {
  pointer-events: none;
  cursor: default;
}
.subject-img{
	 width: 50px;
	 height: 50px;
}

div a{
text-decoration:none
}

a.btn-primary{
background-color:#A9D4D9;
color:black;
border-color:white
}
.question-img{
	float:left;
	width: 50px;
	height: 50px;
	margin: 15px;
}

.question-body{
	background-color: #EDE1D9;
	padding:20px;
}

.question-metadata {
  margin-bottom: 3px;
  border-bottom: 1px solid #666666;
  text-align: right;
}

h3{
	float:left;
	padding-top:20px;
}

img {
float:left;
}

.right{
float:right;
}

.left{

float:left;}

small span{
	display:block;
}

.question-tags{
color: #808080;
}

.ans-counter{
color:#64564D;
font-size: 20px;
padding-top:15px;
margin: 10px,0px;
float: left;
}

.author-action-btns{
float:right; 
margin:3px;
}

.delete{
color:red;"
}

.edit{
color:black; 
padding-right:5px;
}

.sort-btns{
 float:right;
 margin-top: 15px;
 background-color: #f3ebe6;
 border-radius: 25px;
}

.sort-btns .active{
  background-color: #E0E0E0;
}

.answers-container{
	margin-top:20px;
	margin-left:20px;
	word-wrap: break-word;
	margin-bottom: 50px;
}

.answer-display{
  background-color: #f3ebe6;
  padding:20px;
  overflow:hidden;
}

.answer-meta-data{
	border-left: 1px solid gray;
}

.question-title{	
	width:100%;
	display: inline-block;
	 border-bottom: 1px solid #666666;
  border-width: 2px;
}

.question-container{
	 background-color: #C49C80;
	 border-radius: 25px;
	 margin-top: 20px;
	 padding-bottom:40px;
	 padding: 20px;
	 min-width: 60em;
	 width:100%;
	 overflow:hidden;
}

.question-display{
	 width: 100%;
	 background-color: #f3ebe6;
	 padding-left: 10px;
	 padding-top: 10px;
	 padding-right: 10px;
	 padding-bottom:15px;
	 margin-top: 20px;
}
.date{
	float:left;
}