.tags-msg
{
    background-color: #f2dccb;
    text-align: center;
    font-size: 22px;
}

.subject-img{
	float:left;
	width: 120px;
	height: 100px;
	margin: 15px;
}

.question-display{
  background-color: #f3ebe6;
}

.landing-bg{
	background-color: #f2dccb;
}




